@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

@layer utilities {
    .bg-texture {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
        background-attachment: fixed;
    }
}

@layer components {
    .card {
        display: flex;
        flex-direction: column;
        gap: theme('spacing.2');

        padding-left: theme('spacing.2');
        padding-right: theme('spacing.2');
        padding-top: theme('spacing.5');
        padding-bottom: theme('spacing.5');
        border-radius: theme('borderRadius.md');
        box-shadow: theme('boxShadow.DEFAULT');
        --tw-shadow-color: theme('colors.neutral.500 / 50%')
        transition-property: transform;
    }

    .card:hover {
        transform: scale(1.1);
    }
}
